<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cody.mapper.unit.UnitAwardMapper" >
  <resultMap id="BaseResultMap" type="com.cody.entity.unit.UnitAward" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="unit_id" property="unitId" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="sysarea_id" property="sysareaId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultVoMap" type="com.cody.vo.unit.UnitAwardVo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="unit_id" property="unitId" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="sysarea_id" property="sysareaId" jdbcType="VARCHAR" />
    <result column="unitname" property="unitname" jdbcType="TIMESTAMP" />
    <result column="sysareaname" property="sysareaname" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, unit_id, money, year,createtime,sysarea_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_unit_unitaward
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_unit_unitaward
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByPrimaryKeys" parameterType="java.lang.String">
  	delete from t_unit_unitaward 
  	<where>
  		<foreach collection="array" item="item" separator="or">
			id =  #{item}
    	</foreach>
  	</where>
  </delete>
  <insert id="insert" parameterType="com.cody.entity.unit.UnitAward" >
    insert into t_unit_unitaward (id, unit_id, money, 
      year,createtime)
    values (#{id,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{year,jdbcType=VARCHAR},#{createtime})
  </insert>
  <insert id="insertSelective" parameterType="com.cody.entity.unit.UnitAward" >
    insert into t_unit_unitaward
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="sysareaId != null" >
        sysarea_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime},
      </if>
       <if test="sysareaId != null" >
        #{sysareaId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cody.entity.unit.UnitAward" >
    update t_unit_unitaward
    <set >
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
      <if test="sysareaId != null" >
        sysarea_id = #{sysareaId},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cody.entity.unit.UnitAward" >
    update t_unit_unitaward
    set name = #{name,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      year = #{year,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="findPageCountByCondition" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count 
		from t_unit_unitaward t
		left join item i on i.id =t.unit_id
		<where>
			<if test=" condition.sysareaId != null and condition.sysareaId != '' ">
                 t.sysarea_id = #{condition.sysareaId}
            </if>
            <if test=" condition.year != null and condition.year != '' ">
                and t.year = #{condition.year}
            </if>
            <if test=" condition.unitId != null and condition.unitId != '' ">
                and t.unit_id = #{condition.unitId}
            </if>
		</where>
	</select>
  
	<select id="findPageByCondition" resultMap="BaseResultVoMap" parameterType="PageInfo">
	    SELECT t.id, unit_id, money, year,t.createtime, i.itemvalue as unitname,t.sysarea_id,s.name as sysareaname
		from  t_unit_unitaward  t 
		left join item i on i.id =t.unit_id
		left join sysarea s on s.id =t.sysarea_id
	   	<where>
       		<if test=" condition.sysareaId != null and condition.sysareaId != '' ">
                 t.sysarea_id = #{condition.sysareaId}
            </if>
            <if test=" condition.year != null and condition.year != '' ">
                and t.year = #{condition.year}
            </if>
            <if test=" condition.unitId != null and condition.unitId != '' ">
                and t.unit_id = #{condition.unitId}
            </if>
		</where>
	    ORDER BY ${sort} ${order}
	    LIMIT #{from}, #{size}
	</select>
</mapper>