<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cody.mapper.hiddanger.HiddangerSuperviseMapper" >
  <resultMap id="BaseResultMap" type="com.cody.entity.hiddanger.HiddangerSupervise" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="hiddanger_id" property="hiddangerId" jdbcType="VARCHAR" />
    <result column="applyname" property="applyname" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="gradeName" property="gradeName" jdbcType="VARCHAR" />
    <result column="superviseorg" property="superviseorg" jdbcType="VARCHAR" />
    <result column="listingtime" property="listingtime" jdbcType="TIMESTAMP" />
    <result column="governterm" property="governterm" jdbcType="TIMESTAMP" />
    <result column="disannulterm" property="disannulterm" jdbcType="TIMESTAMP" />
    <result column="capitalbudget" property="capitalbudget" jdbcType="INTEGER" />
    <result column="investedfunds" property="investedfunds" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastupdatetime" property="lastupdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cody.entity.hiddanger.HiddangerSupervise" extends="BaseResultMap" >
    <result column="termgovern" property="termgovern" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hiddanger_id, applyname, grade, superviseorg, listingtime, governterm, disannulterm, 
    capitalbudget, investedfunds
  </sql>
  <sql id="Blob_Column_List" >
    termgovern
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_hiddanger_supervise
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_hiddanger_supervise
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cody.entity.hiddanger.HiddangerSupervise" >
    insert into t_hiddanger_supervise (id, hiddanger_id, applyname, 
      grade, superviseorg, listingtime, 
      governterm, disannulterm, capitalbudget, 
      investedfunds, termgovern)
    values (#{id,jdbcType=VARCHAR}, #{hiddangerId,jdbcType=VARCHAR}, #{applyname,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{superviseorg,jdbcType=VARCHAR}, #{listingtime,jdbcType=TIMESTAMP}, 
      #{governterm,jdbcType=TIMESTAMP}, #{disannulterm,jdbcType=TIMESTAMP}, #{capitalbudget,jdbcType=INTEGER}, 
      #{investedfunds,jdbcType=INTEGER}, #{termgovern,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cody.entity.hiddanger.HiddangerSupervise" >
    insert into t_hiddanger_supervise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hiddangerId != null" >
        hiddanger_id,
      </if>
      <if test="applyname != null" >
        applyname,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="superviseorg != null" >
        superviseorg,
      </if>
      <if test="listingtime != null" >
        listingtime,
      </if>
      <if test="governterm != null" >
        governterm,
      </if>
      <if test="disannulterm != null" >
        disannulterm,
      </if>
      <if test="capitalbudget != null" >
        capitalbudget,
      </if>
      <if test="investedfunds != null" >
        investedfunds,
      </if>
      <if test="termgovern != null" >
        termgovern,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hiddangerId != null" >
        #{hiddangerId,jdbcType=VARCHAR},
      </if>
      <if test="applyname != null" >
        #{applyname,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="superviseorg != null" >
        #{superviseorg,jdbcType=VARCHAR},
      </if>
      <if test="listingtime != null" >
        #{listingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="governterm != null" >
        #{governterm,jdbcType=TIMESTAMP},
      </if>
      <if test="disannulterm != null" >
        #{disannulterm,jdbcType=TIMESTAMP},
      </if>
      <if test="capitalbudget != null" >
        #{capitalbudget,jdbcType=INTEGER},
      </if>
      <if test="investedfunds != null" >
        #{investedfunds,jdbcType=INTEGER},
      </if>
      <if test="termgovern != null" >
        #{termgovern,jdbcType=LONGVARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cody.entity.hiddanger.HiddangerSupervise" >
    update t_hiddanger_supervise
    <set >
      <if test="hiddangerId != null" >
        hiddanger_id = #{hiddangerId,jdbcType=VARCHAR},
      </if>
      <if test="applyname != null" >
        applyname = #{applyname,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="superviseorg != null" >
        superviseorg = #{superviseorg,jdbcType=VARCHAR},
      </if>
      <if test="listingtime != null" >
        listingtime = #{listingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="governterm != null" >
        governterm = #{governterm,jdbcType=TIMESTAMP},
      </if>
      <if test="disannulterm != null" >
        disannulterm = #{disannulterm,jdbcType=TIMESTAMP},
      </if>
      <if test="capitalbudget != null" >
        capitalbudget = #{capitalbudget,jdbcType=INTEGER},
      </if>
      <if test="investedfunds != null" >
        investedfunds = #{investedfunds,jdbcType=INTEGER},
      </if>
      <if test="termgovern != null" >
        termgovern = #{termgovern,jdbcType=LONGVARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cody.entity.hiddanger.HiddangerSupervise" >
    update t_hiddanger_supervise
    set hiddanger_id = #{hiddangerId,jdbcType=VARCHAR},
      applyname = #{applyname,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      superviseorg = #{superviseorg,jdbcType=VARCHAR},
      listingtime = #{listingtime,jdbcType=TIMESTAMP},
      governterm = #{governterm,jdbcType=TIMESTAMP},
      disannulterm = #{disannulterm,jdbcType=TIMESTAMP},
      capitalbudget = #{capitalbudget,jdbcType=INTEGER},
      investedfunds = #{investedfunds,jdbcType=INTEGER},
      termgovern = #{termgovern,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cody.entity.hiddanger.HiddangerSupervise" >
    update t_hiddanger_supervise
    set hiddanger_id = #{hiddangerId,jdbcType=VARCHAR},
      applyname = #{applyname,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      superviseorg = #{superviseorg,jdbcType=VARCHAR},
      listingtime = #{listingtime,jdbcType=TIMESTAMP},
      governterm = #{governterm,jdbcType=TIMESTAMP},
      disannulterm = #{disannulterm,jdbcType=TIMESTAMP},
      capitalbudget = #{capitalbudget,jdbcType=INTEGER},
      investedfunds = #{investedfunds,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="findPageCountByCondition" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count 
		from  t_hiddanger_supervise hi
		left join item im on im.id=hi.grade
		where hi.hiddanger_id = #{condition.hiddanger_id=,jdbcType=VARCHAR}
  </select>
  
  <select id="findPageByCondition" resultMap="BaseResultMap" parameterType="PageInfo">
	    select hi.id,hi.hiddanger_id,hi.applyname,hi.grade,hi.superviseorg,
	    hi.createtime,hi.lastupdatetime,hi.listingtime,hi.governterm,hi.disannulterm,hi.termgovern,
	    hi.capitalbudget,hi.investedfunds,im.itemvalue as gradeName
		from  t_hiddanger_supervise hi 
		left join item im on im.id=hi.grade
		where hi.hiddanger_id = #{condition.hiddanger_id=,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByHiddangerId" parameterType="java.lang.String" >
    delete from t_hiddanger_supervise
    where hiddanger_id = #{hiddangerId,jdbcType=VARCHAR}
   </delete>
</mapper>