<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true">

    <description>Shiro安全配置</description>

    <!--安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--设置自定义Realm-->
        <property name="realm" ref="shiroDbRealm"/>
        <!--将缓存管理器，交给安全管理器-->
<!--         <property name="cacheManager" ref="shiroEhcacheManager"/> -->
         <!-- cacheManager 需要时启用 -->
        <!-- <property name="cacheManager" ref="cacheManager"/> -->
        <property name="sessionManager" ref="sessionManager" />
    </bean>

    <!-- 項目自定义的Realm -->
    <bean id="shiroDbRealm" class="com.cody.shiro.ShiroDbRealm"/>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 安全管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 默认的登陆访问url -->
        <property name="loginUrl" value="/"/>
        <!-- 登陆成功后跳转的url -->
        <property name="successUrl" value="/index"/>
        <!-- 没有权限跳转的url -->
        <!-- <property name="unauthorizedUrl" value="/unauth1"/> -->
        <!--  /system/unit/** = anon -->
        <property name="filterChainDefinitions">
            <value>
            	/organization/anonTree/** = anon
            	/role/tree/** = anon
            	/register/addUserAndUnit/** = anon
            	/item/findByDictionarycode/** =anon
                /commons/** = anon <!-- 不需要认证 -->
                /anonpage/** = anon
                /downfile/** = anon
                /static/** = anon
                /login = anon
                /*.ico = anon
                /weixin = anon
                /remote/** = anon <!-- 远程rpc不需要验证 -->
                /** = authc <!-- 需要认证 authc-->
            </value>
        </property>
    </bean>

    <!-- 用户授权信息Cache, 采用EhCache -->
<!--     <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"> -->
<!--         <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/> -->
<!--     </bean> -->
    
    <!-- 这里是springSecurity的东西暂时注释掉 -->
    <!-- 在方法中 注入  securityManager ，进行代理控制 -->
    <!-- <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean> -->
    
    <!-- 指定本系统SESSIONID, 默认为: JSESSIONID 问题: 与SERVLET容器名冲突, 如JETTY, TOMCAT 等默认JSESSIONID,
		当跳出SHIRO SERVLET时如ERROR-PAGE容器会为JSESSIONID重新分配值导致登录会话丢失! -->
	<!-- 需要时开启 -->
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	    <constructor-arg name="name" value="com.cody.session.id"/>
	</bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- AOP式方法级权限检查  -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>

    <!-- 启用shrio授权注解拦截方式 -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
    	<property name="globalSessionTimeout" value="1800000"/>
    	<!-- shiro redisManager 需要时启用-->
        <!-- property name="sessionDAO" ref="sessionDAO"/> -->
        <!-- 定时清理失效会话, 清理用户直接关闭浏览器造成的孤立会话   -->
<!-- 		<property name="sessionValidationInterval" value="120000"/> -->
<!--  		<property name="sessionValidationSchedulerEnabled" value="true"/> -->
		<!-- 自定义cookie id 需要时开启-->	
			<property name="sessionIdCookie" ref="sessionIdCookie"/>
			<property name="sessionIdCookieEnabled" value="true"/>
    </bean>
    
    <!-- shiro redisManager 需要时启用-->
	<!-- <bean id="redisManager" class="com.djt.common.shiro.cache.RedisManager">
	    <property name="host" value="${redis.host}"/>
	    <property name="port" value="${redis.port}"/>
	    <property name="expire" value="1800"/>
	</bean> -->
	
	<!-- redisSessionDAO 需要时启用-->
	<!-- <bean id="sessionDAO" class="com.djt.common.shiro.cache.RedisSessionDAO">
	    <property name="redisManager" ref="redisManager" />
	</bean> -->
	
	<!-- cacheManager 需要时启用 --><!-- 到这里了这里一注释启动项目就会无限循环未解决  报错原因Unknown database 'ajjsys'-->
	<!-- <bean id="cacheManager" class="com.djt.common.shiro.cache.RedisCacheManager">
	    <property name="redisManager" ref="redisManager" />
	</bean> -->
</beans>