<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 扫描controller -->
    <context:component-scan base-package="com.cody.controller"/>

    <!-- 启用CGliB -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- 配置结果页面 前缀和后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="10"></property>
        <property name="prefix" value="/WEB-INF/views/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 配置哪些是静态资源，缺省Servlet 直接返回 -->
<!--      <mvc:resources location="/common/" mapping="/common/**"/> -->
     <!--  貌似文件夹非要叫static才能访问得了静态资源 -->
     <mvc:resources location="/static/" mapping="/static/**"/>
	<mvc:resources location="/downfile/" mapping="/downfile/**"/>
    <!--  <mvc:resources location="/system/" mapping="/static/unit/**"/> -->
     
	<!-- 
	     <mvc:resources location="/common/" mapping="/common/**"/>
	     <mvc:resources location="/css/" mapping="/css/**"/>
	     <mvc:resources location="/js/" mapping="/js/**"/> 
	-->
     

       <!-- <mvc:interceptors>    
        <mvc:interceptor> -->
            <!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->  
            <!-- <mvc:mapping path="/homepage/**" />  -->
            <!-- <mvc:mapping path="/menu/**" />  
            <mvc:mapping path="/decision/**" />  
            <mvc:mapping path="/resourcesmanager/**" />  
            <mvc:mapping path="/system/**" />
             -->
            <!-- <mvc:mapping path="/area/**" /> -->
			<!-- <mvc:exclude-mapping path="/system/unit/**" /> -->
            <!-- <bean class="com.cody.common.utils.UncheckInterceptor"></bean>
        </mvc:interceptor>  -->

        <!-- 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 -->  
     <!-- </mvc:interceptors> -->

	<!-- 枚举类型定义：fastjson 输出值为null的字段，默认为false -->
	<bean id="FASTJSON_WRITE_MAP_NULL" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">    
        <property name="staticField" value="com.alibaba.fastjson.serializer.SerializerFeature.WriteMapNullValue" />    
    </bean>
    
    <mvc:annotation-driven>
        <!-- 注入json自动转换，使用fastjson -->
		<mvc:message-converters register-defaults="true">
            <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="features" ref="FASTJSON_WRITE_MAP_NULL"/>
                <property name="supportedMediaTypes"><!-- 解决乱码 -->
		           <list>  
		               <value>application/json;charset=UTF-8</value>  
		               <value>text/html;charset=UTF-8</value>  
		           </list>  
       			</property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件总大小限制 -->
        <property name="maxUploadSize" value="10000000"></property>
    </bean>

</beans>