<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cody.mapper.sys.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.cody.entity.sys.Dictionary" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dictionarycode" property="dictionarycode" jdbcType="VARCHAR" />
    <result column="dictionaryvalue" property="dictionaryvalue" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dictionarycode, dictionaryvalue,createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dictionary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByPrimaryKeys" parameterType="java.lang.String">
	  	delete from dictionary 
	  	<where>
	  		<foreach collection="array" item="item" separator="or">
				id =  #{item}
	    	</foreach>
	  	</where>
  </delete>
  <insert id="insert" parameterType="com.cody.entity.sys.Dictionary" >
    insert into dictionary (id, dictionarycode, dictionaryvalue
      )
    values (#{id,jdbcType=VARCHAR}, #{dictionarycode,jdbcType=VARCHAR}, #{dictionaryvalue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cody.entity.sys.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dictionarycode != null" >
        dictionarycode,
      </if>
      <if test="dictionaryvalue != null" >
        dictionaryvalue,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dictionarycode != null" >
        #{dictionarycode,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryvalue != null" >
        #{dictionaryvalue,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cody.entity.sys.Dictionary" >
    update dictionary
    <set >
      <if test="dictionarycode != null" >
        dictionarycode = #{dictionarycode,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryvalue != null" >
        dictionaryvalue = #{dictionaryvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cody.entity.sys.Dictionary" >
    update dictionary
    set dictionarycode = #{dictionarycode,jdbcType=VARCHAR},
      dictionaryvalue = #{dictionaryvalue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
    <select id="findPageCountByCondition" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count 
		from dictionary
		<where>
			<foreach collection="condition" item="item" index="key" separator="and">
				${key}  #{item}
       		</foreach>
		</where>
	</select>
  
	<select id="findPageByCondition" resultMap="BaseResultMap" parameterType="PageInfo">
	    SELECT  id ,dictionarycode,dictionaryvalue,createtime
	   	FROM  dictionary
	   	<where>
			<foreach collection="condition" item="item" index="key" separator="and">
				${key}  #{item}
       		</foreach>
		</where>
	    ORDER BY ${sort} ${order}
	    LIMIT #{from}, #{size}
	</select>
</mapper>