<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cody.mapper.sys.HiddangerGradeMapper" >
  <resultMap id="BaseResultMap" type="com.cody.entity.sys.HiddangerGrade" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="examine_id" property="examineId" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="points" property="points" jdbcType="DECIMAL" />
    <result column="points_type" property="pointsType" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, examine_id, grade, points, points_type, createtime, creator_id,status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_hiddanger_grade
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_hiddanger_grade
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cody.entity.sys.HiddangerGrade" >
    insert into t_hiddanger_grade (id, examine_id, grade, 
      points, points_type, createtime, 
      creator_id)
    values (#{id,jdbcType=VARCHAR}, #{examineId,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{points,jdbcType=DECIMAL}, #{pointsType,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cody.entity.sys.HiddangerGrade" >
    insert into t_hiddanger_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examineId != null" >
        examine_id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="pointsType != null" >
        points_type,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="examineId != null" >
        #{examineId,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="points != null" >
        #{points,jdbcType=DECIMAL},
      </if>
      <if test="pointsType != null" >
        #{pointsType,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cody.entity.sys.HiddangerGrade" >
    update t_hiddanger_grade
    <set >
      <if test="examineId != null" >
        examine_id = #{examineId,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=DECIMAL},
      </if>
      <if test="pointsType != null" >
        points_type = #{pointsType,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cody.entity.sys.HiddangerGrade" >
    update t_hiddanger_grade
    set examine_id = #{examineId,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      points = #{points,jdbcType=DECIMAL},
      points_type = #{pointsType,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <select id="findPageCountByCondition" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count 
		from t_hiddanger_grade thg
		<where>
            examine_id = #{condition.examineId}
       		and status>-1
		</where>
	</select>
	
	
	<select id="findPageByCondition" resultMap="BaseResultMap" parameterType="PageInfo">
	    SELECT  thg.id, examine_id, grade, points, points_type, thg.createtime, creator_id,thg.status 
	    from t_hiddanger_grade thg
	    <where>
	        examine_id = #{condition.examineId}
	        and status>-1
        </where>
	    ORDER BY ${sort} ${order}
	    LIMIT #{from}, #{size}
	</select>
</mapper>