<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cody.mapper.equip.EquipChildMapper" >
  <resultMap id="BaseResultMap" type="com.cody.entity.equip.EquipChild" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="eqstandardid" property="eqstandardid" jdbcType="VARCHAR" />
    <result column="equipnum" property="equipnum" jdbcType="INTEGER" />
    <result column="equiptype" property="equiptype" jdbcType="VARCHAR" />
    <result column="eqbaseid" property="eqbaseid" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.cody.entity.equip.EquipChild" >
    insert into t_equip_child (id, eqstandardid, equipnum, 
      equiptype)
    values (#{id,jdbcType=VARCHAR}, #{eqstandardid,jdbcType=VARCHAR}, #{equipnum,jdbcType=INTEGER}, 
      #{equiptype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cody.entity.equip.EquipChild" >
    insert into t_equip_child
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eqstandardid != null" >
        eqstandardid,
      </if>
      <if test="equipnum != null" >
        equipnum,
      </if>
      <if test="equiptype != null" >
        equiptype,
      </if>
      <if test="eqbaseid != null" >
        eqbaseid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="eqstandardid != null" >
        #{eqstandardid,jdbcType=VARCHAR},
      </if>
      <if test="equipnum != null" >
        #{equipnum,jdbcType=INTEGER},
      </if>
      <if test="equiptype != null" >
        #{equiptype,jdbcType=VARCHAR},
      </if>
      <if test="eqbaseid != null" >
        #{eqbaseid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
    <update id="updateByPrimaryKeySelective" parameterType="com.cody.entity.equip.EquipChild" >
	    update t_equip_child
	    <set >
	      <if test="eqstandardid != null" >
	        eqstandardid = #{eqstandardid,jdbcType=VARCHAR},
	      </if>
	      <if test="equiptype != null" >
	        equiptype = #{equiptype,jdbcType=VARCHAR},
	      </if>
	      <if test="equipnum != null" >
	        equipnum = #{equipnum,jdbcType=INTEGER},
	      </if>
	      <if test="eqbaseid != null" >
	        eqbaseid = #{eqbaseid,jdbcType=VARCHAR},
	      </if>
	    </set>
	    where id = #{id,jdbcType=VARCHAR}
  </update>
  
   <select id="findPageCountByCondition" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count 
		from t_equip_child
		<where>
			<foreach collection="condition" item="item" index="key" separator="and">
				${key}  #{item}
       		</foreach>
		</where>
  </select>
  
  <select id="findPageByCondition" resultMap="BaseResultMap" parameterType="PageInfo">
	    SELECT  * 
	   	FROM  t_equip_child
	   	
	   	<where>
			<foreach collection="condition" item="item" index="key" separator="and">
				${key}  #{item}
       		</foreach>
		</where>
	   	
	    ORDER BY ${sort} ${order}
	    LIMIT #{from}, #{size}
	</select>
	
	<delete id="deleteByEqbaseId" parameterType="java.lang.String" >
    delete from t_equip_child
    where eqbaseid = #{eqbaseId,jdbcType=VARCHAR}
  </delete>
	
</mapper>