<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cody.mapper.sys.UnitMapper">
	<resultMap id="BaseResultMap" type="com.cody.entity.sys.Unit">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="higher_level_identifier" property="higherLevelIdentifier"
			jdbcType="VARCHAR" />
		<result column="unit_linkman" property="unitLinkman" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="portraiture" property="portraiture" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="register_status" property="registerStatus"
			jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="institutions" property="institutions" jdbcType="INTEGER" />
		<result column="formationCount" property="formationcount"
			jdbcType="INTEGER" />
		<result column="higher_level_name" property="higherLevelName"
			jdbcType="VARCHAR" />
		<result column="creator_id" property="creatorId" jdbcType="BIGINT" />
		<result column="updator_id" property="updatorId" jdbcType="BIGINT" />
		<result column="lastUpdateTime" property="lastupdatetime"
			jdbcType="TIMESTAMP" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="unit_identifier" property="unitIdentifier"
			jdbcType="VARCHAR" />
		<result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
		<result column="organization_id" property="organizationId"
			jdbcType="BIGINT" />
		<result column="sysarea_id" property="sysareaId" jdbcType="VARCHAR" />
		<result column="gradetype" property="gradetype" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="BaseVoResultMap" type="com.cody.vo.sys.UnitVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="unit_identifier" property="unitIdentifier"
			jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="higher_level_identifier" property="higherLevelIdentifier"
			jdbcType="VARCHAR" />
		<result column="unit_linkman" property="unitLinkman" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="portraiture" property="portraiture" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="register_status" property="registerStatus"
			jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="creator_id" property="creatorId" jdbcType="BIGINT" />
		<result column="lastUpdateTime" property="lastupdatetime"
			jdbcType="TIMESTAMP" />
		<result column="updator_id" property="updatorId" jdbcType="BIGINT" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="institutions" property="institutions" jdbcType="INTEGER" />
		<result column="formationCount" property="formationcount"
			jdbcType="INTEGER" />
		<result column="higher_level_name" property="higherLevelName"
			jdbcType="VARCHAR" />
		<result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
		<result column="organization_id" property="organizationId"
			jdbcType="INTEGER" />
		<result column="sysarea_id" property="sysareaId" jdbcType="VARCHAR" />
		<result column="tradeTypeName" property="tradeTypeName"
			jdbcType="VARCHAR" />
		<result column="unitname" property="unitname" jdbcType="VARCHAR" />
		<result column="gradetype" property="gradetype" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		
		<!-- VO -->
		<result column="otype" property="otype" jdbcType="VARCHAR" />
		<result column="typename" property="typename" jdbcType="VARCHAR" />
		<result column="creatorname" property="creatorname" jdbcType="VARCHAR" />
		<result column="updatorname" property="updatorname" jdbcType="VARCHAR" />
		<result column="parentId" property="parentId" jdbcType="VARCHAR" />
		<result column="parentName" property="parentName" jdbcType="VARCHAR" />
		<result column="childId" property="childId" jdbcType="VARCHAR" />
		<result column="childName" property="childName" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="BIGINT" />
		<result column="loginname" property="loginname" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="userorganizationId" property="userorganizationId"
			jdbcType="INTEGER" />
		<result column="userorganizationname" property="userorganizationname"
			jdbcType="VARCHAR" />

	</resultMap>



	<sql id="Base_Column_List">
		id, name, type, higher_level_identifier, unit_linkman, telephone, phone,
		portraiture,
		email, zip_code, address, remarks, register_status, qq, institutions,
		formationCount,
		higher_level_name, creator_id, updator_id, lastUpdateTime, createTime, unit_identifier,
		trade_type, organization_id, sysarea_id, gradetype,status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_sys_unit
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_sys_unit
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.cody.entity.sys.Unit">
		insert into t_sys_unit (id, name, type,
		higher_level_identifier, unit_linkman, telephone,
		phone, portraiture, email,
		zip_code, address, remarks,
		register_status, qq, institutions,
		formationCount, higher_level_name, creator_id,
		updator_id, lastUpdateTime, createTime,
		unit_identifier, trade_type, organization_id,
		sysarea_id, gradetype)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{higherLevelIdentifier,jdbcType=VARCHAR}, #{unitLinkman,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{portraiture,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{zipCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
		#{registerStatus,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
		#{institutions,jdbcType=INTEGER},
		#{formationcount,jdbcType=INTEGER}, #{higherLevelName,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT},
		#{updatorId,jdbcType=BIGINT}, #{lastupdatetime,jdbcType=TIMESTAMP},
		#{createtime,jdbcType=TIMESTAMP},
		#{unitIdentifier,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, #{organizationId,jdbcType=BIGINT},
		#{sysareaId,jdbcType=VARCHAR}, #{gradetype,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.cody.entity.sys.Unit">
		insert into t_sys_unit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="higherLevelIdentifier != null">
				higher_level_identifier,
			</if>
			<if test="unitLinkman != null">
				unit_linkman,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="portraiture != null">
				portraiture,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="zipCode != null">
				zip_code,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="registerStatus != null">
				register_status,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="institutions != null">
				institutions,
			</if>
			<if test="formationcount != null">
				formationCount,
			</if>
			<if test="higherLevelName != null">
				higher_level_name,
			</if>
			<if test="creatorId != null">
				creator_id,
			</if>
			<if test="updatorId != null">
				updator_id,
			</if>
			<if test="lastupdatetime != null">
				lastUpdateTime,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="unitIdentifier != null">
				unit_identifier,
			</if>
			<if test="tradeType != null">
				trade_type,
			</if>
			<if test="organizationId != null">
				organization_id,
			</if>
			<if test="sysareaId != null">
				sysarea_id,
			</if>
			<if test="gradetype != null">
				gradetype,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="higherLevelIdentifier != null">
				#{higherLevelIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="unitLinkman != null">
				#{unitLinkman,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="portraiture != null">
				#{portraiture,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="zipCode != null">
				#{zipCode,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="registerStatus != null">
				#{registerStatus,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="institutions != null">
				#{institutions,jdbcType=INTEGER},
			</if>
			<if test="formationcount != null">
				#{formationcount,jdbcType=INTEGER},
			</if>
			<if test="higherLevelName != null">
				#{higherLevelName,jdbcType=VARCHAR},
			</if>
			<if test="creatorId != null">
				#{creatorId,jdbcType=BIGINT},
			</if>
			<if test="updatorId != null">
				#{updatorId,jdbcType=BIGINT},
			</if>
			<if test="lastupdatetime != null">
				#{lastupdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="unitIdentifier != null">
				#{unitIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="tradeType != null">
				#{tradeType,jdbcType=VARCHAR},
			</if>
			<if test="organizationId != null">
				#{organizationId,jdbcType=BIGINT},
			</if>
			<if test="sysareaId != null">
				#{sysareaId,jdbcType=VARCHAR},
			</if>
			<if test="gradetype != null">
				#{gradetype,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cody.entity.sys.Unit">
		update t_sys_unit
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="higherLevelIdentifier != null">
				higher_level_identifier = #{higherLevelIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="unitLinkman != null">
				unit_linkman = #{unitLinkman,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="portraiture != null">
				portraiture = #{portraiture,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="zipCode != null">
				zip_code = #{zipCode,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="registerStatus != null">
				register_status = #{registerStatus,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="institutions != null">
				institutions = #{institutions,jdbcType=INTEGER},
			</if>
			<if test="formationcount != null">
				formationCount = #{formationcount,jdbcType=INTEGER},
			</if>
			<if test="higherLevelName != null">
				higher_level_name = #{higherLevelName,jdbcType=VARCHAR},
			</if>
			<if test="creatorId != null">
				creator_id = #{creatorId,jdbcType=BIGINT},
			</if>
			<if test="updatorId != null">
				updator_id = #{updatorId,jdbcType=BIGINT},
			</if>
			<if test="lastupdatetime != null">
				lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="unitIdentifier != null">
				unit_identifier = #{unitIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="tradeType != null">
				trade_type = #{tradeType,jdbcType=VARCHAR},
			</if>
			<if test="organizationId != null">
				organization_id = #{organizationId,jdbcType=BIGINT},
			</if>
			<if test="sysareaId != null">
				sysarea_id = #{sysareaId,jdbcType=VARCHAR},
			</if>
			<if test="gradetype != null">
				gradetype = #{gradetype,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cody.entity.sys.Unit">
		update t_sys_unit
		set name = #{name,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		higher_level_identifier = #{higherLevelIdentifier,jdbcType=VARCHAR},
		unit_linkman = #{unitLinkman,jdbcType=VARCHAR},
		telephone = #{telephone,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		portraiture = #{portraiture,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		zip_code = #{zipCode,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		remarks = #{remarks,jdbcType=VARCHAR},
		register_status = #{registerStatus,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		institutions = #{institutions,jdbcType=INTEGER},
		formationCount = #{formationcount,jdbcType=INTEGER},
		higher_level_name = #{higherLevelName,jdbcType=VARCHAR},
		creator_id = #{creatorId,jdbcType=BIGINT},
		updator_id = #{updatorId,jdbcType=BIGINT},
		lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		unit_identifier = #{unitIdentifier,jdbcType=VARCHAR},
		trade_type = #{tradeType,jdbcType=VARCHAR},
		organization_id = #{organizationId,jdbcType=BIGINT},
		sysarea_id = #{sysareaId,jdbcType=VARCHAR},
		gradetype = #{gradetype,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>









	<select id="findPageCountByCondition" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count
		FROM t_sys_unit tsu
		left join item i on i.id =tsu.trade_type
		left join item i2 on i2.id =tsu.gradetype
		left join t_sys_unit u3 on u3.higher_level_identifier = tsu.id  
		left join t_sys_unit u4 on u4.id = tsu.higher_level_identifier
		LEFT JOIN organization o on o.id = u3.higher_level_identifier
		LEFT JOIN user u5 on u3.id =u5.unit_id
		<where>
			u3.status >-1 and
			u3.type = 'DWLB_QY'
			and (tsu.id = #{condition.unitId} or 
			u4.higher_level_identifier = #{condition.unitId} 
			or u4.id = #{condition.unitId})
			<if test=" condition.name != null and condition.name != '' ">
                and u3.name like concat('%',#{condition.name}, '%')
            </if>
            <if test=" condition.unitLinkman != null and condition.unitLinkman != '' ">
                and u3.unit_linkman like concat('%',#{condition.unitLinkman}, '%')
            </if>
            <if test=" condition.gradetype != null and condition.gradetype != '' ">
                and u3.gradetype = #{condition.gradetype}
            </if>
            <if test=" condition.sysareaId != null and condition.sysareaId != '' ">
                and u3.sysarea_id = #{condition.sysareaId}
            </if>
		</where>
	</select>

	<select id="findPageByCondition" resultMap="BaseVoResultMap"
		parameterType="PageInfo">
		SELECT
		u3.id, u3.unit_identifier, u3.name as name, u3.type, u3.higher_level_identifier,
		u3.unit_linkman, u3.telephone,
		u3.phone, u3.portraiture, u3.email, u3.zip_code, u3.address, u3.remarks, u3.register_status,
		u3.createTime,u3.creator_id, u3.lastUpdateTime, u3.updator_id, u3.qq, u3.institutions, u3.formationCount,
		u3.higher_level_name,u3.status,u3.trade_type,u3.gradetype,u3.sysarea_id,i.itemvalue as tradeTypeName ,i2.itemvalue as
		typename,tsu.name as higherLevelName,u5.loginname as loginname
		FROM t_sys_unit tsu
		left join item i on i.id =tsu.trade_type
		left join item i2 on i2.id =tsu.gradetype
		left join t_sys_unit u3 on u3.higher_level_identifier = tsu.id  
		left join t_sys_unit u4 on u4.id = tsu.higher_level_identifier
		LEFT JOIN user u5 on u3.id =u5.unit_id
		<where>
			u3.status >-1 and
			u3.type = 'DWLB_QY'
			and (tsu.id = #{condition.unitId} or 
			u4.higher_level_identifier = #{condition.unitId} 
			or u4.id = #{condition.unitId})
			<if test=" condition.name != null and condition.name != '' ">
                and u3.name like concat('%',#{condition.name}, '%')
            </if>
            <if test=" condition.unitLinkman != null and condition.unitLinkman != '' ">
                and u3.unit_linkman like concat('%',#{condition.unitLinkman}, '%')
            </if>
            <if test=" condition.gradetype != null and condition.gradetype != '' ">
                and u3.gradetype = #{condition.gradetype}
            </if>
            <if test=" condition.sysareaId != null and condition.sysareaId != '' ">
                and u3.sysarea_id = #{condition.sysareaId}
            </if>
		</where>
		ORDER BY ${sort} ${order}
		LIMIT #{from}, #{size}
	</select>

	<select id="selectByOrganizationId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		*
		from t_sys_unit
		where organization_id = #{organizationId,jdbcType=INTEGER}
	</select>

	<select id="findPageByUnitId" resultMap="BaseVoResultMap"
		parameterType="PageInfo">
		SELECT id, name, unit_linkman,
		phone, address, higher_level_name
		FROM t_sys_unit 
		<!-- <if test="q != null and q !=''">
			where name like concat('%', #{q,jdbcType=VARCHAR}, '%')
		</if> -->
		<where>
			<foreach collection="condition" item="item" index="key" separator="and">
				${key}  #{item}
       		</foreach>
		</where>
		
		ORDER BY ${sort} ${order}
		LIMIT #{from}, #{size}
	</select>

	<select id="findPageCountByUnitId" resultType="java.lang.Integer"
		parameterType="PageInfo">
		select count(*) count
		from t_sys_unit

		<where>
			<foreach collection="condition" item="item" index="key" separator="and">
				${key}  #{item}
       		</foreach>
		</where>

	</select>

	<select id="findUnitByCombobox" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from t_sys_unit where id = #{unitId}
	</select>


	<select id="findAllUnitByCombobox" resultMap="BaseVoResultMap"
		parameterType="java.lang.String">
		select t.id,t.name from t_sys_unit t
	</select>

	<select id="findVoByUserId" resultMap="BaseVoResultMap"
		parameterType="java.lang.String">
		select * from t_sys_unit where id = #{id}
	</select>

	<select id="findAllUnit" resultMap="BaseVoResultMap"
		parameterType="java.lang.String">
		select id, name from t_sys_unit
	</select>

	<select id="findToAward" resultMap="BaseVoResultMap">
		select t.id,t.name,o.type as otype from t_sys_unit t
		left join organization o on t.organization_id =o.id
		where otype =""
	</select>
	
	<delete id="deleteByOrganizationId" parameterType="java.lang.Long">
		delete from t_sys_unit
		where organization_id = #{id}
	</delete>
	
	<update id="deleteByStatus" parameterType="com.cody.entity.sys.Unit">
		update t_sys_unit
		set status =-1
		where organization_id = #{organizationId}
	</update>
	
   <select id="selectUnitByOrgId" resultMap="BaseVoResultMap" parameterType="java.lang.String" >
     SELECT * FROM t_sys_unit WHERE organization_id=#{id,jdbcType=VARCHAR}
   </select> 


	<!-- 科技项目分发处室使用，勿动勿删 -->
	<select id="selectUnitByType" resultMap="BaseVoResultMap" parameterType="PageInfo" >
		SELECT 
		u.id,  u.name, u.unit_linkman, u.telephone, u.phone,
		item1.id as type, item1.itemvalue as typename 
		
		FROM t_sys_unit u 
		left join item item1 on item1.id = u.type
		
		WHERE type = '1504ff35-4c8c-4299-9d7c-16300871c619'
		<if test="q != null and q !=''">
			and u.name like concat('%',#{q,jdbcType=VARCHAR}, '%')
		</if>
		order by u.createtime desc
		LIMIT #{from}, #{size}
	</select>

	<select id="selectUnitByTypeCount" resultType="java.lang.Integer" parameterType="PageInfo" >
		SELECT count(*) 
		
		FROM t_sys_unit u 
		left join item item1 on item1.id = u.type
		
		WHERE type = '1504ff35-4c8c-4299-9d7c-16300871c619'
		<if test="q != null and q !=''">
			and u.name like concat('%',#{q,jdbcType=VARCHAR}, '%')
		</if>
		
	</select>



</mapper>