<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cody.mapper.storage.StorageScienceMapper" >
  <resultMap id="BaseResultMap" type="com.cody.entity.storage.StorageScience" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="acceptor_id" property="acceptorId" jdbcType="BIGINT" />
    <result column="accepttime" property="accepttime" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="VARCHAR" />
    <result column="unit_id" property="unitId" jdbcType="VARCHAR" />
    <result column="isCustimize" property="iscustimize" jdbcType="INTEGER" />
    <result column="isInspection" property="isinspection" jdbcType="INTEGER" />
    <result column="isTissueTrial" property="istissuetrial" jdbcType="INTEGER" />
    <result column="isUse" property="isuse" jdbcType="INTEGER" />
    <result column="isSatisfieddeclare" property="issatisfieddeclare" jdbcType="INTEGER" />
    <result column="isRecordStandard" property="isrecordstandard" jdbcType="INTEGER" />
    <result column="isAuthenticate" property="isauthenticate" jdbcType="INTEGER" />
    <result column="notationAward" property="notationaward" jdbcType="INTEGER" />
    <result column="provinceAward" property="provinceaward" jdbcType="INTEGER" />
    <result column="patentquantity" property="patentquantity" jdbcType="INTEGER" />
    <result column="inventPatent" property="inventpatent" jdbcType="INTEGER" />
    <result column="patentAuthorize" property="patentauthorize" jdbcType="INTEGER" />
    <result column="inventPatentAuthorize" property="inventpatentauthorize" jdbcType="INTEGER" />
    <result column="provincePaper" property="provincepaper" jdbcType="INTEGER" />
    <result column="internationalPeriodical" property="internationalperiodical" jdbcType="INTEGER" />
    <result column="publication" property="publication" jdbcType="INTEGER" />
    <result column="investment" property="investment" jdbcType="DECIMAL" />
    <result column="specialfund" property="specialfund" jdbcType="DECIMAL" />
    <result column="selffund" property="selffund" jdbcType="DECIMAL" />
    <result column="fundExpenses" property="fundexpenses" jdbcType="DECIMAL" />
    <result column="expensesAmount" property="expensesamount" jdbcType="DECIMAL" />
    <result column="proportion" property="proportion" jdbcType="DECIMAL" />
    <result column="illegal_embezzle" property="illegalEmbezzle" jdbcType="INTEGER" />
    <result column="illegal_forge" property="illegalForge" jdbcType="INTEGER" />
    <result column="illegal_falsereport" property="illegalFalsereport" jdbcType="INTEGER" />
    <result column="illegal_welfare" property="illegalWelfare" jdbcType="INTEGER" />
    <result column="illegal_gift" property="illegalGift" jdbcType="INTEGER" />
    <result column="illegal_expense" property="illegalExpense" jdbcType="INTEGER" />
    <result column="illegal_private" property="illegalPrivate" jdbcType="INTEGER" />
    <result column="captitalcondition" property="captitalcondition" jdbcType="LONGVARCHAR" />
    <result column="implementation" property="implementation" jdbcType="LONGVARCHAR" />
    <result column="expandissue" property="expandissue" jdbcType="LONGVARCHAR" />
    <result column="acceptopinion" property="acceptopinion" jdbcType="LONGVARCHAR" />
    <result column="cantonalopinion" property="cantonalopinion" jdbcType="LONGVARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="lastupdatetime" property="lastupdatetime" jdbcType="TIMESTAMP" />
    <result column="updator_id" property="updatorId" jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="VoResultMap" type="com.cody.vo.storage.StorageScienceVo" extends="BaseResultMap" >
    <result column="projectNumber" property="projectNumber" jdbcType="VARCHAR" />
    <result column="projectName" property="projectName" jdbcType="VARCHAR" />
    <result column="projectDeclareTime" property="projectDeclareTime" jdbcType="TIMESTAMP" />
    <result column="classifyId" property="classifyId" jdbcType="VARCHAR" />
    <result column="classifyName" property="classifyName" jdbcType="VARCHAR" />
	<result column="acceptorName" property="acceptorName" jdbcType="VARCHAR" />
    <result column="statusName" property="statusName" jdbcType="VARCHAR" />
    <result column="unitName" property="unitName" jdbcType="VARCHAR" />
    <result column="projecttype" property="projecttype" jdbcType="VARCHAR" />
    <result column="storageId" property="storageId" jdbcType="VARCHAR" />
    
  </resultMap>

  <sql id="Base_Column_List" >
    id, project_id, acceptor_id, accepttime, status_id, unit_id, isCustimize, isInspection, 
    isTissueTrial, isUse, isSatisfieddeclare, isRecordStandard, isAuthenticate, notationAward, 
    provinceAward, patentquantity, inventPatent, patentAuthorize, inventPatentAuthorize, 
    provincePaper, internationalPeriodical, publication, investment, specialfund, selffund, 
    fundExpenses, expensesAmount, proportion, illegal_embezzle, illegal_forge, illegal_falsereport, 
    illegal_welfare, illegal_gift, illegal_expense, illegal_private, createtime, creator_id, 
    lastupdatetime, updator_id,
    captitalcondition, implementation, expandissue, acceptopinion, cantonalopinion
  </sql>



	<select id="findPageCountByCondition" resultType="java.lang.Integer" parameterType="PageInfo">
		select count(*) count 
		from  t_storage_science s 
		inner join t_science_base b on s.project_id = b.id 
	   	left join item item1 on item1.id = s.status_id <!-- 入库 -->
	   	left join item item2 on item2.id = b.status_id <!-- 项目状态 -->
	   	left join user u on u.id = b.applicant <!-- 申请人 -->
	   	left join t_sys_unit unit on unit.id = b.unit_id <!-- 申请单位 -->
	   	left join item item3 on item3.id = unit.gradetype <!-- 级别 -->
		<where>
			<foreach collection="condition" item="item" index="key" separator="and">
				${key}  #{item}
       		</foreach>
		</where>
	</select>

	
	<!-- 通用查询 -->
	<select id="findPageByCondition" resultMap="VoResultMap" parameterType="PageInfo">
		select
		b.applyname projectName, b.applycode projectNumber, b.projecttype projecttype,
		b.applytime projectDeclareTime,
		unit.id unitId, unit.name unitName, 
		u.id acceptorId, u.name acceptorName,
		item1.id statusId, item1.itemvalue statusName, 
		
		s.id storageId, s.accepttime, s.isCustimize, s.isInspection, 
    	s.isTissueTrial, s.isUse, s.isSatisfieddeclare, s.isRecordStandard, 
    	s.isAuthenticate, s.notationAward, s.provinceAward, s.patentquantity, 
    	s.inventPatent, s.patentAuthorize, s.inventPatentAuthorize, s.provincePaper, 
    	s.internationalPeriodical, s.publication, s.investment, s.specialfund, s.selffund, 
    	s.fundExpenses, s.expensesAmount, s.proportion, s.illegal_embezzle, s.illegal_forge, 
    	s.illegal_falsereport, s.illegal_welfare, s.illegal_gift, s.illegal_expense, 
    	s.illegal_private, s.createtime, s.creator_id, s.lastupdatetime, s.updator_id,
    	s.captitalcondition, s.implementation, s.expandissue, s.acceptopinion, s.cantonalopinion
		
		from  t_storage_science s 
		inner join t_science_base b on s.project_id = b.id 
	   	left join item item1 on item1.id = s.status_id <!-- 入库 -->
	   	left join item item2 on item2.id = b.status_id <!-- 项目状态 -->
	   	left join user u on u.id = b.applicant <!-- 申请人 -->
	   	left join t_sys_unit unit on unit.id = b.unit_id <!-- 申请单位 -->
	   	left join item item3 on item3.id = unit.gradetype <!-- 级别 -->
		<where>
			<foreach collection="condition" item="item" index="key" separator="and">
				${key}  #{item}
       		</foreach>
		</where>
		ORDER BY ${sort} ${order}
	    LIMIT #{from}, #{size}
	</select>




  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_storage_science
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_storage_science
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cody.entity.storage.StorageScience" >
    insert into t_storage_science (id, project_id, acceptor_id, 
      accepttime, status_id, unit_id, 
      isCustimize, isInspection, isTissueTrial, 
      isUse, isSatisfieddeclare, isRecordStandard, 
      isAuthenticate, notationAward, provinceAward, 
      patentquantity, inventPatent, patentAuthorize, 
      inventPatentAuthorize, provincePaper, internationalPeriodical, 
      publication, investment, specialfund, 
      selffund, fundExpenses, expensesAmount, 
      proportion, illegal_embezzle, illegal_forge, 
      illegal_falsereport, illegal_welfare, illegal_gift, 
      illegal_expense, illegal_private, createtime, 
      creator_id, lastupdatetime, updator_id, 
      captitalcondition, implementation, 
      expandissue, acceptopinion, cantonalopinion
      )
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{acceptorId,jdbcType=BIGINT}, 
      #{accepttime,jdbcType=TIMESTAMP}, #{statusId,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}, 
      #{iscustimize,jdbcType=INTEGER}, #{isinspection,jdbcType=INTEGER}, #{istissuetrial,jdbcType=INTEGER}, 
      #{isuse,jdbcType=INTEGER}, #{issatisfieddeclare,jdbcType=INTEGER}, #{isrecordstandard,jdbcType=INTEGER}, 
      #{isauthenticate,jdbcType=INTEGER}, #{notationaward,jdbcType=INTEGER}, #{provinceaward,jdbcType=INTEGER}, 
      #{patentquantity,jdbcType=INTEGER}, #{inventpatent,jdbcType=INTEGER}, #{patentauthorize,jdbcType=INTEGER}, 
      #{inventpatentauthorize,jdbcType=INTEGER}, #{provincepaper,jdbcType=INTEGER}, #{internationalperiodical,jdbcType=INTEGER}, 
      #{publication,jdbcType=INTEGER}, #{investment,jdbcType=DECIMAL}, #{specialfund,jdbcType=DECIMAL}, 
      #{selffund,jdbcType=DECIMAL}, #{fundexpenses,jdbcType=DECIMAL}, #{expensesamount,jdbcType=DECIMAL}, 
      #{proportion,jdbcType=DECIMAL}, #{illegalEmbezzle,jdbcType=INTEGER}, #{illegalForge,jdbcType=INTEGER}, 
      #{illegalFalsereport,jdbcType=INTEGER}, #{illegalWelfare,jdbcType=INTEGER}, #{illegalGift,jdbcType=INTEGER}, 
      #{illegalExpense,jdbcType=INTEGER}, #{illegalPrivate,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{lastupdatetime,jdbcType=TIMESTAMP}, #{updatorId,jdbcType=BIGINT}, 
      #{captitalcondition,jdbcType=LONGVARCHAR}, #{implementation,jdbcType=LONGVARCHAR}, 
      #{expandissue,jdbcType=LONGVARCHAR}, #{acceptopinion,jdbcType=LONGVARCHAR}, #{cantonalopinion,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cody.entity.storage.StorageScience" >
    insert into t_storage_science
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="acceptorId != null" >
        acceptor_id,
      </if>
      <if test="accepttime != null" >
        accepttime,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="iscustimize != null" >
        isCustimize,
      </if>
      <if test="isinspection != null" >
        isInspection,
      </if>
      <if test="istissuetrial != null" >
        isTissueTrial,
      </if>
      <if test="isuse != null" >
        isUse,
      </if>
      <if test="issatisfieddeclare != null" >
        isSatisfieddeclare,
      </if>
      <if test="isrecordstandard != null" >
        isRecordStandard,
      </if>
      <if test="isauthenticate != null" >
        isAuthenticate,
      </if>
      <if test="notationaward != null" >
        notationAward,
      </if>
      <if test="provinceaward != null" >
        provinceAward,
      </if>
      <if test="patentquantity != null" >
        patentquantity,
      </if>
      <if test="inventpatent != null" >
        inventPatent,
      </if>
      <if test="patentauthorize != null" >
        patentAuthorize,
      </if>
      <if test="inventpatentauthorize != null" >
        inventPatentAuthorize,
      </if>
      <if test="provincepaper != null" >
        provincePaper,
      </if>
      <if test="internationalperiodical != null" >
        internationalPeriodical,
      </if>
      <if test="publication != null" >
        publication,
      </if>
      <if test="investment != null" >
        investment,
      </if>
      <if test="specialfund != null" >
        specialfund,
      </if>
      <if test="selffund != null" >
        selffund,
      </if>
      <if test="fundexpenses != null" >
        fundExpenses,
      </if>
      <if test="expensesamount != null" >
        expensesAmount,
      </if>
      <if test="proportion != null" >
        proportion,
      </if>
      <if test="illegalEmbezzle != null" >
        illegal_embezzle,
      </if>
      <if test="illegalForge != null" >
        illegal_forge,
      </if>
      <if test="illegalFalsereport != null" >
        illegal_falsereport,
      </if>
      <if test="illegalWelfare != null" >
        illegal_welfare,
      </if>
      <if test="illegalGift != null" >
        illegal_gift,
      </if>
      <if test="illegalExpense != null" >
        illegal_expense,
      </if>
      <if test="illegalPrivate != null" >
        illegal_private,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime,
      </if>
      <if test="updatorId != null" >
        updator_id,
      </if>
      <if test="captitalcondition != null" >
        captitalcondition,
      </if>
      <if test="implementation != null" >
        implementation,
      </if>
      <if test="expandissue != null" >
        expandissue,
      </if>
      <if test="acceptopinion != null" >
        acceptopinion,
      </if>
      <if test="cantonalopinion != null" >
        cantonalopinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="acceptorId != null" >
        #{acceptorId,jdbcType=BIGINT},
      </if>
      <if test="accepttime != null" >
        #{accepttime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="iscustimize != null" >
        #{iscustimize,jdbcType=INTEGER},
      </if>
      <if test="isinspection != null" >
        #{isinspection,jdbcType=INTEGER},
      </if>
      <if test="istissuetrial != null" >
        #{istissuetrial,jdbcType=INTEGER},
      </if>
      <if test="isuse != null" >
        #{isuse,jdbcType=INTEGER},
      </if>
      <if test="issatisfieddeclare != null" >
        #{issatisfieddeclare,jdbcType=INTEGER},
      </if>
      <if test="isrecordstandard != null" >
        #{isrecordstandard,jdbcType=INTEGER},
      </if>
      <if test="isauthenticate != null" >
        #{isauthenticate,jdbcType=INTEGER},
      </if>
      <if test="notationaward != null" >
        #{notationaward,jdbcType=INTEGER},
      </if>
      <if test="provinceaward != null" >
        #{provinceaward,jdbcType=INTEGER},
      </if>
      <if test="patentquantity != null" >
        #{patentquantity,jdbcType=INTEGER},
      </if>
      <if test="inventpatent != null" >
        #{inventpatent,jdbcType=INTEGER},
      </if>
      <if test="patentauthorize != null" >
        #{patentauthorize,jdbcType=INTEGER},
      </if>
      <if test="inventpatentauthorize != null" >
        #{inventpatentauthorize,jdbcType=INTEGER},
      </if>
      <if test="provincepaper != null" >
        #{provincepaper,jdbcType=INTEGER},
      </if>
      <if test="internationalperiodical != null" >
        #{internationalperiodical,jdbcType=INTEGER},
      </if>
      <if test="publication != null" >
        #{publication,jdbcType=INTEGER},
      </if>
      <if test="investment != null" >
        #{investment,jdbcType=DECIMAL},
      </if>
      <if test="specialfund != null" >
        #{specialfund,jdbcType=DECIMAL},
      </if>
      <if test="selffund != null" >
        #{selffund,jdbcType=DECIMAL},
      </if>
      <if test="fundexpenses != null" >
        #{fundexpenses,jdbcType=DECIMAL},
      </if>
      <if test="expensesamount != null" >
        #{expensesamount,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        #{proportion,jdbcType=DECIMAL},
      </if>
      <if test="illegalEmbezzle != null" >
        #{illegalEmbezzle,jdbcType=INTEGER},
      </if>
      <if test="illegalForge != null" >
        #{illegalForge,jdbcType=INTEGER},
      </if>
      <if test="illegalFalsereport != null" >
        #{illegalFalsereport,jdbcType=INTEGER},
      </if>
      <if test="illegalWelfare != null" >
        #{illegalWelfare,jdbcType=INTEGER},
      </if>
      <if test="illegalGift != null" >
        #{illegalGift,jdbcType=INTEGER},
      </if>
      <if test="illegalExpense != null" >
        #{illegalExpense,jdbcType=INTEGER},
      </if>
      <if test="illegalPrivate != null" >
        #{illegalPrivate,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatorId != null" >
        #{updatorId,jdbcType=BIGINT},
      </if>
      <if test="captitalcondition != null" >
        #{captitalcondition,jdbcType=LONGVARCHAR},
      </if>
      <if test="implementation != null" >
        #{implementation,jdbcType=LONGVARCHAR},
      </if>
      <if test="expandissue != null" >
        #{expandissue,jdbcType=LONGVARCHAR},
      </if>
      <if test="acceptopinion != null" >
        #{acceptopinion,jdbcType=LONGVARCHAR},
      </if>
      <if test="cantonalopinion != null" >
        #{cantonalopinion,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cody.entity.storage.StorageScience" >
    update t_storage_science
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="acceptorId != null" >
        acceptor_id = #{acceptorId,jdbcType=BIGINT},
      </if>
      <if test="accepttime != null" >
        accepttime = #{accepttime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="iscustimize != null" >
        isCustimize = #{iscustimize,jdbcType=INTEGER},
      </if>
      <if test="isinspection != null" >
        isInspection = #{isinspection,jdbcType=INTEGER},
      </if>
      <if test="istissuetrial != null" >
        isTissueTrial = #{istissuetrial,jdbcType=INTEGER},
      </if>
      <if test="isuse != null" >
        isUse = #{isuse,jdbcType=INTEGER},
      </if>
      <if test="issatisfieddeclare != null" >
        isSatisfieddeclare = #{issatisfieddeclare,jdbcType=INTEGER},
      </if>
      <if test="isrecordstandard != null" >
        isRecordStandard = #{isrecordstandard,jdbcType=INTEGER},
      </if>
      <if test="isauthenticate != null" >
        isAuthenticate = #{isauthenticate,jdbcType=INTEGER},
      </if>
      <if test="notationaward != null" >
        notationAward = #{notationaward,jdbcType=INTEGER},
      </if>
      <if test="provinceaward != null" >
        provinceAward = #{provinceaward,jdbcType=INTEGER},
      </if>
      <if test="patentquantity != null" >
        patentquantity = #{patentquantity,jdbcType=INTEGER},
      </if>
      <if test="inventpatent != null" >
        inventPatent = #{inventpatent,jdbcType=INTEGER},
      </if>
      <if test="patentauthorize != null" >
        patentAuthorize = #{patentauthorize,jdbcType=INTEGER},
      </if>
      <if test="inventpatentauthorize != null" >
        inventPatentAuthorize = #{inventpatentauthorize,jdbcType=INTEGER},
      </if>
      <if test="provincepaper != null" >
        provincePaper = #{provincepaper,jdbcType=INTEGER},
      </if>
      <if test="internationalperiodical != null" >
        internationalPeriodical = #{internationalperiodical,jdbcType=INTEGER},
      </if>
      <if test="publication != null" >
        publication = #{publication,jdbcType=INTEGER},
      </if>
      <if test="investment != null" >
        investment = #{investment,jdbcType=DECIMAL},
      </if>
      <if test="specialfund != null" >
        specialfund = #{specialfund,jdbcType=DECIMAL},
      </if>
      <if test="selffund != null" >
        selffund = #{selffund,jdbcType=DECIMAL},
      </if>
      <if test="fundexpenses != null" >
        fundExpenses = #{fundexpenses,jdbcType=DECIMAL},
      </if>
      <if test="expensesamount != null" >
        expensesAmount = #{expensesamount,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        proportion = #{proportion,jdbcType=DECIMAL},
      </if>
      <if test="illegalEmbezzle != null" >
        illegal_embezzle = #{illegalEmbezzle,jdbcType=INTEGER},
      </if>
      <if test="illegalForge != null" >
        illegal_forge = #{illegalForge,jdbcType=INTEGER},
      </if>
      <if test="illegalFalsereport != null" >
        illegal_falsereport = #{illegalFalsereport,jdbcType=INTEGER},
      </if>
      <if test="illegalWelfare != null" >
        illegal_welfare = #{illegalWelfare,jdbcType=INTEGER},
      </if>
      <if test="illegalGift != null" >
        illegal_gift = #{illegalGift,jdbcType=INTEGER},
      </if>
      <if test="illegalExpense != null" >
        illegal_expense = #{illegalExpense,jdbcType=INTEGER},
      </if>
      <if test="illegalPrivate != null" >
        illegal_private = #{illegalPrivate,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatorId != null" >
        updator_id = #{updatorId,jdbcType=BIGINT},
      </if>
      <if test="captitalcondition != null" >
        captitalcondition = #{captitalcondition,jdbcType=LONGVARCHAR},
      </if>
      <if test="implementation != null" >
        implementation = #{implementation,jdbcType=LONGVARCHAR},
      </if>
      <if test="expandissue != null" >
        expandissue = #{expandissue,jdbcType=LONGVARCHAR},
      </if>
      <if test="acceptopinion != null" >
        acceptopinion = #{acceptopinion,jdbcType=LONGVARCHAR},
      </if>
      <if test="cantonalopinion != null" >
        cantonalopinion = #{cantonalopinion,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cody.entity.storage.StorageScience" >
    update t_storage_science
    set project_id = #{projectId,jdbcType=VARCHAR},
      acceptor_id = #{acceptorId,jdbcType=BIGINT},
      accepttime = #{accepttime,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=VARCHAR},
      isCustimize = #{iscustimize,jdbcType=INTEGER},
      isInspection = #{isinspection,jdbcType=INTEGER},
      isTissueTrial = #{istissuetrial,jdbcType=INTEGER},
      isUse = #{isuse,jdbcType=INTEGER},
      isSatisfieddeclare = #{issatisfieddeclare,jdbcType=INTEGER},
      isRecordStandard = #{isrecordstandard,jdbcType=INTEGER},
      isAuthenticate = #{isauthenticate,jdbcType=INTEGER},
      notationAward = #{notationaward,jdbcType=INTEGER},
      provinceAward = #{provinceaward,jdbcType=INTEGER},
      patentquantity = #{patentquantity,jdbcType=INTEGER},
      inventPatent = #{inventpatent,jdbcType=INTEGER},
      patentAuthorize = #{patentauthorize,jdbcType=INTEGER},
      inventPatentAuthorize = #{inventpatentauthorize,jdbcType=INTEGER},
      provincePaper = #{provincepaper,jdbcType=INTEGER},
      internationalPeriodical = #{internationalperiodical,jdbcType=INTEGER},
      publication = #{publication,jdbcType=INTEGER},
      investment = #{investment,jdbcType=DECIMAL},
      specialfund = #{specialfund,jdbcType=DECIMAL},
      selffund = #{selffund,jdbcType=DECIMAL},
      fundExpenses = #{fundexpenses,jdbcType=DECIMAL},
      expensesAmount = #{expensesamount,jdbcType=DECIMAL},
      proportion = #{proportion,jdbcType=DECIMAL},
      illegal_embezzle = #{illegalEmbezzle,jdbcType=INTEGER},
      illegal_forge = #{illegalForge,jdbcType=INTEGER},
      illegal_falsereport = #{illegalFalsereport,jdbcType=INTEGER},
      illegal_welfare = #{illegalWelfare,jdbcType=INTEGER},
      illegal_gift = #{illegalGift,jdbcType=INTEGER},
      illegal_expense = #{illegalExpense,jdbcType=INTEGER},
      illegal_private = #{illegalPrivate,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      updator_id = #{updatorId,jdbcType=BIGINT},
      captitalcondition = #{captitalcondition,jdbcType=LONGVARCHAR},
      implementation = #{implementation,jdbcType=LONGVARCHAR},
      expandissue = #{expandissue,jdbcType=LONGVARCHAR},
      acceptopinion = #{acceptopinion,jdbcType=LONGVARCHAR},
      cantonalopinion = #{cantonalopinion,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>